<!DOCTYPE html>
<head>
  <title>Craigslist Jr!</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/"><h1> Craigslist Jr. </h1></a>
    </div>
  </div>

</body>

</html>
